<div class="products-container">
     <div class="header">
          <h1>Product Library</h1>
          <div class="options">
               <input type="search" name="search" autocomplete="off" placeholder="Search Something" [(ngModel)]="searchTerm">
               <button routerLink="/products/create">Create Product</button>
          </div>
     </div>
     <div class="tblContainer">
          <table class="tblProducts">
               <thead>
                    <tr>
                         <th>Name</th>
                         <th>Description</th>
                         <th>On Hand</th>
                         <th>Low Stock</th>
                         <th>On Order</th>
                         <th>Available</th>
                         <th>Unit</th>
                         <th>Actions</th>
                    </tr>
               </thead>
               <tbody>
                    <tr *ngFor="let product of prodList | search:searchTerm">
                         <td>{{product.name}}</td>
                         <td>{{product.desc}}</td>
                         <td>{{product.onhand}}</td>
                         <td>{{product.lowstock}}</td>
                         <td>{{product.onorder}}</td>
                         <td>{{product.available}}</td>
                         <td>{{product.unit}}</td>
                         <td class="actions">
                              <button [routerLink]="[product.id]">Edit</button>
                              <button (click)="deleteProduct(product.id!)">Delete</button>
                         </td>
                    </tr>
               </tbody>
          </table>
     </div>
</div>