<div class="products-container">
     <div class="header">
          <h1>Product Library</h1>
          <div class="buttons">
               <button routerLink="/products/create">Create Product</button>
          </div>
     </div>
     <div class="tblContainer">
          <table class="tblProducts">
               <thead>
                    <tr>
                         <th>Name</th>
                         <th>Description</th>
                         <th>On Hand</th>
                         <th>Low Stock</th>
                         <th>On Order</th>
                         <th>Available</th>
                         <th>Unit</th>
                    </tr>
               </thead>
               <tbody>
                    <tr>
                         <td>IPhone 15</td>
                         <td>adsasdasdasdadsasdsdsdadsdsa</td>
                         <td>0</td>
                         <td>50</td>
                         <td>235</td>
                         <td>0</td>
                         <td>Item</td>
                    </tr>
                    <tr>
                         <td>S21 Ultra</td>
                         <td>adsasdasdasdadsasdsdsdadsdsa</td>
                         <td>0</td>
                         <td>100</td>
                         <td>235</td>
                         <td>1</td>
                         <td>Item</td>
                    </tr>
               </tbody>
          </table>
     </div>
</div>