@import "src/app/scss/mixins.scss";
.navbar{
     display: flex;
     @include flex-align(space-between, center);
     padding: 30px;
     background: $light;
     height: 100px;
     .logo{
          font-weight: 500;
          font-size: 30px;
          cursor: pointer;
          transition: .3s ease all;
          &:hover{color: $blue-primary;}
     }
     .toggler{
          display: none;
          span{
               font-size: 40px;
               transition: .3s ease all;
               cursor: pointer;
               &:hover{color: $blue-primary;}
          }
     }
     .links{
          display: flex; flex-wrap: wrap;
          @include flex-align(space-between, center);
          list-style: none;
          li{
               margin: 0 5px;
               font-size: 20px;
               a{@include header-link;}
          }
     }
}