<nav class="navbar">
     <h1 class="logo" routerLink="/">Tasks With Angular Test</h1>
     <span class="toggler" (click)="toggleLinks()"><span class="material-symbols-outlined">{{toggled ? 'close' : 'menu'}}</span></span>
     <ul class="links" [ngClass]="{'active': toggled}">
          <li class="link" (click)="closeToggler()" *accountType="account"><a routerLink="/notes">Notes</a></li>
          <li class="link" *ngFor="let item of navItem" (click)="closeToggler()"><a [routerLink]="item.link">{{item.text}}</a></li>
     </ul>
</nav>