<div class="products-container">
     <div class="header">
          <h1 *ngIf="!id">Create Product</h1>
          <h1 *ngIf="id">Edit Product</h1>
          <div class="buttons">
               <button routerLink="/products">Back</button>
          </div>
     </div>
     <form class="frmProducts" [formGroup]="frmProduct" (ngSubmit)="handleSubmit()">
          <div class="frmGroup">
               <label for="name">Name</label>
               <input type="text" placeholder="e.g. Samsung S21 Ultra" id="name" formControlName="name">
          </div>
          <div class="frmGroup">
               <label for="desc">Description</label>
               <textarea placeholder="Type Information about this Product" id="desc" formControlName="desc"></textarea>
          </div>
          <div class="frmFlex">
               <div class="frmGroup">
                    <label for="onhand">On Hand</label>
                    <input type="number" id="onhand" formControlName="onhand">
               </div>
               <div class="frmGroup">
                    <label for="lowstock">Low Stock</label>
                    <input type="number" id="lowstock" formControlName="lowstock">
               </div>
          </div>
          <div class="frmFlex">
               <div class="frmGroup">
                    <label for="onorder">On Order</label>
                    <input type="number" id="onorder" formControlName="onorder">
               </div>
               <div class="frmGroup">
                    <label for="available">Available</label>
                    <input type="number" id="available" formControlName="available">
               </div>
          </div>
          <div class="frmGroup">
               <label for="unit">Unit</label>
               <input type="text" placeholder="e.g. Item" id="unit" formControlName="unit">
          </div>
          <button *ngIf="!id" type="submit">Create And Add</button>
          <button *ngIf="id" type="submit">Save</button>
     </form>
</div>